*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    background-color: #444;
}

.pads{
    height: 120px;
    cursor: pointer;
}

header p{
    font-size: 25px !important;
    color: #fff;
}

header h1{
    color: #fff;
}

.col-2{
    padding: 0;
}

.pad1 {
    background: #60d394;
}
.pad2{
    background: #d36060;
}
.pad3{
    background: #c060d3;
}
.pad4{
    background: #d3d160;
}
.pad5{
    background: #606bd3;
}
.pad6{
    background: #60c2d3;
}

#visual > div{
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;
    }

    50%{
        bottom: 50%;
        left: 60%;
    }

    100%{
        bottom: 0%;
        left: 80%;
    }
}

.load span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #CCC;
    animation: opacity 1s infinite ease;
}

.load span:first-child{
    animation-delay: .6s;
}
.load span:nth-child(2){
    animation-delay: .5s;
}
.load span:nth-child(3){
    animation-delay: .4s;
}
.load span:nth-child(4){
    animation-delay: .3s;
}
.load span:nth-child(5){
    animation-delay: .2s;
}
.load span:nth-child(6){
    animation-delay: .1s;
}

@keyframes opacity{
    0%{
        opacity: 1;
    }
    50%{
       opacity: .6;
    }
    100%{
        opacity: 1;
    }
}

@keyframes load{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.music h2{
    line-height: 120px;
    color: #000;
    text-transform: capitalize;
    font-size: 18px;
}

.sound-effect span{
    display: inline-block;
    width: 10px;
    height:10px;
    background-color: #CCC;
    animation: soundEffect 1s infinite ease;
}


.sound-effect span:first-child{
    animation-delay: .1s;
    background-color:#60d394;
}
.sound-effect span:nth-child(2){
    animation-delay: .3s;
    background-color:#d36060;
}
.sound-effect span:nth-child(3){
    animation-delay: .5s;
    background-color:#c060d3;
}
.sound-effect span:nth-child(4){
    animation-delay: .7s;
    background-color:#d3d160;
}
.sound-effect span:nth-child(5){
    animation-delay: .9s;
    background-color:#606bd3;
}
.sound-effect span:nth-child(6){
    animation-delay: .11s;
    background-color:#60c2d3;
}

.sound-play i{
    color: #fff;
    background-color: transparent;
    font-size: 30px;
    line-height: 40px;
}

.sound-play h2{
    padding: 0;
    margin: 0;
}

.sound-play button{
    background-color: transparent;
    border: none;
    width: 30px;
    margin-top: -20px;
    cursor: pointer;
    outline: 0;
}

@keyframes soundEffect{
    0%{
        height: 5px;
    }
    50%{
        height: 17px;
    }
    100%{
        height: 5px;
    }
}
